<div class="container">
    <div class="mt-4">
        <h1>Cập nhật tài khoản</h1>

        <form class="mt-4" method="POST" action="/auth/{{accounts._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Tên tài khoản</label>
                <input type="text" class="form-control" value="{{accounts.username}}" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" value="{{accounts.password}}" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" value="{{accounts.email}}" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="numberphone">Number Phone</label>
                <input type="text" class="form-control" value="{{accounts.numberphone}}" id="numberphone" name="numberphone">
            </div>
            <div class="form-group">
                <label for="status">Trạng thái</label>
                <select class="form-control" id="status" name="status">
                    {{#if active}}
                    <option value="active">Kích hoạt</option>
                    <option value="deactive">Hủy kích hoạt</option>
                    {{/if}}
                    {{#unless active}}
                    <option value="deactive">Hủy kích hoạt</option>
                    <option value="active">Kích hoạt</option>
                    {{/unless}}
                </select>
            </div>

            <button type="submit" class="btn btn-danger">Lưu lại</button>
        </form>
    </div>
</div>